# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs/Certificate.docx
docs/Certificate.pdf
docs/Project Profile.pdf
docs/Project Profile.docx
docs/cover page.pdf
docs/cover page.docx
docs/indieinflux_final_document.docx
docs/indieinflux_final_document.pdf
docs/f/indieinflux_final_document.pdf
docs/f/indieinflux_final_document.docx
