* {
  box-sizing: border-box;
  /* max-width: 163%; */
}



html,
body {
  margin: 0;
  background-color: #82837d;
  font-family: 'Space Mono';
}

header {
  width: 100%;
  height: 100px;
  background: #82837d;
}

.container {
  height: 100%;
  background: #82837d;
  width: 992px;
  margin: 0 auto;
  padding: 25px;
  margin-left: 242px;
}

section.one {
  position: relative;
}

section.one:after {
  content: "";
  display: block;
  clear: both;
}

.left {
  width: calc(50% - 12px);
  float: left;
  margin-right: 25px;
}

.left div {
  height: 200px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.right {
  width: calc(50% - 13px);
  float: right;
}

.button:not(:hover) .hide,
.button:not(:hover) .icon::before,
.button:not(:hover) .icon::after {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.4);
}

.icon {
  position: relative;
  left: 40%;
}

.right-child {
  display: block;
  float: right;
  width: 458px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.right-child h2 {
  font-size: 38px;
}

.right-child.posFix {
  position: fixed;
  top: 25px;
}

.right-child.posAbs {
  position: absolute;
  bottom: 25px;
}

/* img {
  height: 100px;
  width: 100px;
} */

.product-details {
  height: 70px;
  line-height: 1px;
  line-height: 1px;
}

.product-details p {
  margin-top: 0px;
}

.bottom {
  /* width: 163%; */
  overflow-x: hidden;
  background: #82837d;
  margin-left: -283px;
  /* position: relative; */
  /* z-index: -1; */
}

@media (max-width: 992px) {
  .left {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .right-child {
    width: 100%;
  }
}

.product-vars {
  cursor: pointer;
  transition: margin 0.8s ease;
  position: absolute;
  top: -192px;
  display: flex;
  left: 11px;
}

.product-vars img {
  width: 150px;
  height: 150px;
}

.product-vars:hover .product-vars-img {
  /* margin-top: -8px; */
  transition: margin 0.8s ease-in-out;
}


@keyframes shake {
  0% {
    transform: translateY(0px)rotate(-2.5deg)
  }

  45% {
    transform: translateY(0px)rotate(2.5deg)
  }

  100% {
    transform: translateY(0px)rotate(-2.5deg)
  }
}

/* .product-vars img:hover{
    filter: drop-shadow(-2px 0 1px #333);
} */
.icon img {
  height: 40%;
  width: 82%;
}

.nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  top: 0;
}

.nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-group {
  /* display: flex; */
  gap: 10px;
  margin-top: -435px;
}

.btn-group-second {
  /* display: flex; */
  gap: 10px;
  margin-top: -435px;
  position: fixed;
  left: 78%;
}

.btn-group {
  flex-direction: column;
}

.btn-group-second {
  flex-direction: column;
}

.brd {
  border: 1px solid black !important;
}

.button:not(:hover) .hide,
.button:not(:hover) .icon::before,
.button:not(:hover) .icon::after {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.4);
}

.hide {
  transition: all 0.2s ease;
}

.icon {
  position: relative;
}

button {
  padding: 5px 15px 6px 15px;
  border-radius: 2.5rem;
  color: #000;
  margin-left: 5px;
  font-family: "Space Mono", sans-serif;
  cursor: pointer;
  border: none;
}

button.size-btn {
  position: relative;
  margin: -98px 0px 57px 0;
  width: 50%;
  padding: 20px;
  color: #323232;
  border-radius: 45px;
  background-color: #fff;
}

button.size-btn i {
  position: absolute;
  right: 17.5%;
  top: 50%;
  transform: translateY(-50%);
}

.product img {
  width: 130px;
  height: 215px;
}

.product {
  float: left;
  width: 50%;
  margin-bottom: 50px;
  cursor: pointer;
}

.product-img {
  position: fixed;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img-wrapper {
  width: 85%;
}

.marquee {
  --duration: 10s;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.marquee:hover .marquee__wrapper {
  animation-play-state: paused;
}

.marquee__wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  padding-block: 30px;
}


.marquee__wrapper--a {
  animation: var(--duration) slide-1 1 linear, calc(var(--duration) * 2) slide-2 var(--duration) infinite linear;
}

.marquee__wrapper--b {
  animation: calc(var(--duration) * 2) slide-3 infinite linear;

}

@keyframes slide-1 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-3 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.marquee__wrapper--a img {
  height: auto;
  width: 10%;
  cursor: pointer;

}

.marquee__wrapper--b img {
  height: auto;
  width: 10%;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.product-vars img:hover {
  filter: drop-shadow(-2px 0 1px #333);
}

.icon:hover {
  cursor: pointer;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  color: white;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  transform: scale(0.89);
  position: absolute;
  max-width: 300px;
  /* left: 50%; */
  top: 10%;
}

.button:not(:hover) .hide,
.button:not(:hover) .icon::before,
.button:not(:hover) .icon::after {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.4);
}

.hide {
  transition: all 0.2s ease;
}

.button:hover .icon svg {
  border: solid 2px #ffffff;
}

.btn1 {
  margin-right: 15px;
}

.btn2 {
  margin-right: 10px;
}

.myclass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 999;
}

.logoImg {
  height: 30%;
  width: 30%;
  margin-left: 40%;
  margin-top: 30%;
  z-index: 999;
  position: relative;
}

.myvid {
  width: 100%;
  position: fixed;
  background-size: contain;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  top: 0;
}

.imggg {
  position: relative;
  display: flex;
  cursor: pointer;
}

.one1 {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.two2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.imggg:hover .one1 {
  opacity: 1;
}

.imggg:hover .two2 {
  opacity: 0;
}

.hoverEffect {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  padding: 0 0 40px;
}

@media only screen and (max-width: 600px) {
  .hoverEffect {
    flex-wrap: wrap;
  }
}

/* .Drop6Parent{
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 85%;
  flex-wrap: wrap;
  animation: fade-in 1s ease forwards;
  gap: 20px;
} */
/* .Drop6Parent {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}  */
.Drop6Parent {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  /* min-height: 63%; */
  /* flex-wrap: wrap; */
  overflow-x: hidden;
}

/* .drop1 {
  width: 56%;
  margin: 0;
  position: relative;
  z-index: 10;
  left: 100px;
} */

.drop1 img {
  height: auto;
  width: 80%;
  cursor: pointer;
}

.fixedinfobtn {
  position: fixed;
  margin-left: 8.1%;
  top: 75px;
  background-color: transparent;
}

.fixedrefinebtn {
  position: fixed;
  margin-left: 90%;
  top: 75px;
  background-color: transparent;
}

.logoparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  /* top: 250px; */
}

.dropbtn {
  border: 1px solid black;
  /* font-size: 10px; */
  cursor: pointer;
  left: 88rem;
  top: 21.5px;
  box-shadow: none !important;
  position: fixed;
}

.dropbtn-size {
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  top: 60px;
  position: relative;
  box-shadow: none !important;
  position: fixed;
}


.dropbtn:hover {
  border-color: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-size {
  position: fixed;
  display: inline-block;
  margin-left: 72px;
  /* margin: 0 auto; */
}


.dropdown-content {
  display: none;
  position: absolute;
  /* min-width: 160px; */
  overflow: auto;
  z-index: 999;
  padding: 15px;
}

.dropdown-content-size {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 99999;
  padding: 15px;
  left: -20%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
  position: fixed;
}

  ul.collection-dropdown-ul {
    width: 20px;
    position: fixed;
    height: auto;
}

.collection-dropdown-li {
  position: fixed;
  top: 61px;
  display: flex;
  left: 94.5%;
}
#myDropdown {
  top: 66px;
  color: #000;
  pointer-events: none;
  /* border: 1px solid black; */
  /* min-width: 150px; */
  /* position: absolute; */
  left: 86rem;
  right: 19px;
}
#myDropdown li{
  list-style: none;
}

/* #myDropdown-size {
  top: -350px;
  color: #000;
  pointer-events: none;
  position: absolute;
  left: -70px;
} */
#myDropdown-size {
  top: 78px;
  color: #000;
  pointer-events: none;
  /* position: absolute; */
  left: 59px;
}
.bagbtn {
  border: 1px solid #000;
  box-shadow: none !important;
}

/*  */
.rotation-container-360 {
  height: 300px;
  perspective: 1000px;
  width: 20%;
  margin: 0;
  position: relative;
  display: flex;
}

.rotation-container-360 img {
  position: absolute;
  transition: transform 0.5s ease-in-out;
  left: 150%;

}

img#imageof360 {
  height: auto;
  width: 95%;
}

/*  */
.rotation-container-3602 {
  height: 300px;
  perspective: 1000px;
  width: 20%;
  margin: 0;
  position: relative;
  display: flex;
}

.rotation-container-3602 img {
  position: absolute;
  transition: transform 0.5s ease-in-out;
  left: 10%;
}

img#imageof3602 {
  height: auto;
  width: 95%;
}

drop6text.text-drop6-in-navbar {
  position: absolute;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  top: -14px;
  left: 48%;
}

.rotate360parent {
  display: flex;
  gap: 25%;
  margin-top: 9%;
  margin-left: -15%;
}

.rotate360parent img {
  cursor: pointer;
}

.rotate360parent:hover {
  animation-play-state: paused;
}

.btngrp {
  position: fixed;
  display: flex;
  margin-top: 1.5%;
  margin-left: 1.5%;
  z-index: 99999;
}

.btngrp button {
  /* border: 1px solid black; */
  box-shadow: none !important;
  background-color: transparent;
}

.btn1down {
  margin-top: 2%;
  width: 50%;
  margin-left: 20%;
}

.dropdown-image {
  /* height: auto; */
  width: 310px;
}

.content-details-square {
  height: auto;
  border: 1px solid black;
  margin-top: 3px;
  margin-left: 80px;
  background-color: rgba(130, 131, 125, .7);
}


.drop-image {
  border: 1px solid black;
  width: 310px;
}

/* .content-details-square ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
} */
.dropdownP {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Drop6_360_Compo_Logo {
  height: 100px;
  z-index: 999;
}

.content-details-square {
  display: flex;
  justify-content: space-between;
  width: 700px;
}


.content-details-square ul {
  list-style: none;
  padding: 10px 12px 0 10px;
}


.product-price {
  display: flex;
  position: absolute;
  top: 77%;
}

.product-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex
}

.produt-description {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
}

.product-details-compo {
  display: flex;
  position: absolute;
  left: 68%;
  top: 60px;
  font-size: smaller;
  color: black;
  z-index: 999;
}

.product-description {
  flex-wrap: wrap;
  top: 159%;
  position: absolute;
  width: 450px;
}

.collection-left {
  position: absolute;
  background-color: #a3a49f !important;
}

.back-cart {
  padding: 8px 17px;
  border: 1px solid #000;
  border-radius: 2.5em;
  color: #000;
  margin-left: 10px;
  background-color: transparent;
  box-shadow: none !important;
  cursor: pointer;

}

.browse-cart {
  margin-left: 1252px;
  background-color: transparent;
  box-shadow: none !important;
  margin-right: 6px;
  cursor: pointer !important;

}

.cartbag {
  background-color: transparent;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .6);
  cursor: pointer;

}

.btn-group-second1 {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  z-index: 999;
}

.inr {
  position: absolute;
  margin-left: 155px;

}

.bag {
  position: absolute;
  margin-left: 230px;
}



.Size_btn_parent {
  display: flex;
  margin-top: 20px;
  /* flex-wrap: wrap; */
  position: absolute;
  left: 3%;
  overflow-x: hidden;
  top: 45%;
}

.sizebtn {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase !important;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 2.5rem;
  cursor: pointer;
  color: black;
  background-color: transparent;
  transition: .3s ease-in;
  font-weight: 400;
  box-shadow: none !important;
}

.sizebtn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.6) !important;
}

.nav1 {
  z-index: 999;
}

.navvvvv {
  list-style: none;
  position: relative;
  z-index: 999;
  top: 220px;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navvvvv li {
  list-style: none;
}

.navvvvv button {
  background-color: rgba(200, 200, 200, .5);
  border: 1px solid black;
  box-shadow: none !important;
}

.addtocartbtn {
  top: -140px;
  left: 99px;
}
.addtocartbtn_sizebtn{
  width: 200px;
  position: relative;
  top: 420px;
  left: 46px;
}


.NavLogo {
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}

/* .size-chart-btn-btn-grp #myDropdown-size{
  top: 60px;
}
#btn-grp-drop-360-compo{
  top: -357px;
} */
:root {
  --dropdown-top: 60px;
  /* Default value for dropdown */
  --btn-grp-top: -357px;
  /* Default value for button group */
}

/* .size-chart-btn-btn-grp #myDropdown-size {
  top: var(--dropdown-top);
} */

#btn-grp-drop-360-compo {
  top: var(--btn-grp-top);
}

.arch_img {
  animation: scatter-1 100s linear infinite;
}

.arch_img_2 {
  animation: scatter-2 100s linear infinite;
}

.arch_img_3 {
  animation: scatter-3 100s linear infinite;
}

.arch_img_4 {
  animation: scatter-4 100s linear infinite;
}

.arch_img_5 {
  animation: scatter-5 100s linear infinite;
}

.arch_img_6 {
  animation: scatter-6 100s linear infinite;
}

.arch_img_7 {
  animation: scatter-7 100s linear infinite;
}

.arch_img_8 {
  animation: scatter-8 100s linear infinite;
}

.arch_img_9 {
  animation: scatter-9 100s linear infinite;
}

.arch_img_10 {
  animation: scatter-10 100s linear infinite;
}

.arch_img_11 {
  animation: scatter-11 100s linear infinite;
}
.arch_img_12 {
  animation: scatter-12 100s linear infinite;
}

.arch_img img,
.arch_img_2 img,
.arch_img_3 img,
.arch_img_4 img,
.arch_img_5 img,
.arch_img_6 img,
.arch_img_7 img,
.arch_img_8 img,
.arch_img_9 img,
.arch_img_10 img,
.arch_img_11 img,
.arch_img_12 img  {
  width: 100px;
  cursor: pointer;
}

.arch_img:hover,
.arch_img_2:hover,
.arch_img_3:hover,
.arch_img_4:hover,
.arch_img_5:hover,
.arch_img_6:hover,
.arch_img_7:hover,
.arch_img_8:hover,
.arch_img_9:hover,
.arch_img_10:hover,
.arch_img_11:hover,
.arch_img_12:hover {
  animation-play-state: paused;
}

.arch_img_parent {
  position: fixed;
}

.ptag p {
  opacity: 0;
}

.arch_img_5:hover .ptag p {
  opacity: 1;
  color: red;
  font-size: 20px;
}

@keyframes scatter-1 {
  0% {
    opacity: 1;
    transform: translateX(50px) translateY(0) rotate(0);
  }

  14% {
    transform: translateX(90vw) translateY(0) rotate(0);
  }

  28% {
    transform: translateX(20vw) translateY(90vh) rotate(0);
  }

  42% {
    transform: translateX(50vw) translateY(90vh) rotate(0);
  }

  56% {
    transform: translateX(90vw) translateY(0) rotate(0);
  }

  70% {
    transform: translateX(35vw) translateY(90vh) rotate(0);
  }

  84% {
    transform: translateX(62vw) translateY(90vh) rotate(-0);
  }

  100% {
    opacity: 1;
    transform: translateX(50px) translateY(90vh) rotate(0);
  }
}
@keyframes scatter-2 {
  0% {
    opacity: 1;
    transform: translateX(100px) translateY(10vh);
  }

  14% {
    transform: translateX(94vw) translateY(0vh);
  }

  28% {
    transform: translateX(20vw) translateY(0vh);
  }

  42% {
    transform: translateX(60vw) translateY(0vh);
  }

  56% {
    transform: translateX(50vw) translateY(0vh);
  }

  70% {
    transform: translateX(45vw) translateY(0vh);
  }

  84% {
    transform: translateX(90vw) translateY(0vh);
  }

  100% {
    opacity: 1;
    transform: translateX(100px) translateY(0vh);
  }
}
@keyframes scatter-3 {
  0% {
    opacity: 1;
    transform: translateX(0vw)translateY(-60vh)rotate(0)
  }

  14% {
    transform: translateX(90vw)translateY(10vh)rotate(0)
  }

  28% {
    transform: translateX(50vw)translateY(40vh)rotate(-0)
  }

  42% {
    transform: translateX(50vw)translateY(10vh)rotate(0)
  }

  56% {
    transform: translateX(12vw)translateY(50vh)rotate(0)
  }

  70% {
    transform: translateX(90vw)translateY(53vh)rotate(0)
  }

  84% {
    transform: translateX(50vw)translateY(30vh)rotate(-0)
  }

  100% {
    opacity: 1;
    transform: translateX(30vw)translateY(60vh)rotate(0)
  }
}
@keyframes scatter-4 {
  0% {
    opacity: 1;
    transform: translateX(45vw)translateY(-70vh)
  }

  14% {
    transform: translateX(8vw)translateY(20vh)
  }

  28% {
    transform: translateX(20vw)translateY(10vh)
  }

  42% {
    transform: translateX(10vw)translateY(24vh)
  }

  56% {
    transform: translateX(16vw)translateY(2vh)
  }

  70% {
    transform: translateX(23vw)translateY(18vh)
  }

  84% {
    transform: translateX(6vw)translateY(35vh)
  }

  100% {
    opacity: 1;
    transform: translateX(16vw)translateY(0vh)
  }
}
@keyframes scatter-5 {
  0% {
    opacity: 1;
    transform: translateX(0px) translateY(-20)vh rotate(0);
  }

  14% {
    transform: translateX(50vw) translateY(0) translateZ(30px) rotate(0);
  }

  28% {
    transform: translateX(2vw) translateY(90vh) rotate(0);
  }

  42% {
    transform: translateX(20vw) translateY(90vh) rotate(0);
  }

  56% {
    transform: translateX(50vw) translateY(0) rotate(0);
  }

  70% {
    transform: translateX(15vw) translateY(90vh) rotate(0);
  }

  84% {
    transform: translateX(22vw) translateY(90vh) rotate(-0);
  }

  100% {
    opacity: 1;
    transform: translateX(90px) translateY(90vh) rotate(0);
  }
}
@keyframes scatter-6 {
  0% {
    opacity: 1;
    transform: translateX(5vw)translateY(-30vh)rotate(0)
  }

  14% {
    transform: translateX(26vw)translateY(18vh)rotate(0)
  }

  28% {
    transform: translateX(45vw)translateY(17vh)rotate(-0)
  }

  42% {
    transform: translateX(5vw)translateY(10vh)rotate(0)
  }

  56% {
    transform: translateX(12vw)translateY(50vh)rotate(0)
  }

  70% {
    transform: translateX(90vw)translateY(53vh)rotate(0)
  }

  84% {
    transform: translateX(50vw)translateY(30vh)rotate(-0)
  }

  100% {
    opacity: 1;
    transform: translateX(30vw)translateY(60vh)rotate(0)
  }
}
@keyframes scatter-7 {
  0% {
    opacity: 1;
    transform: translateX(65vw)translateY(-3vh)
}

14% {
    transform: translateX(0vw)translateY(110vh)
}

28% {
  transform: translateX(90vw)translateY(-10vh)
}

42% {
  transform: translateX(-50vw)translateY(10vh)
}

56% {
  transform: translateX(90vw)translateY(17vh)
}

70% {
  transform: translateX(-50vw)translateY(-10vh)
}

84% {
    transform: translateX(29vw)translateY(110vh)
}

100% {
    opacity: 1;
    transform: translateX(35vw)translateY(-10vh)
}

}
@keyframes scatter-8 {
  0% {
    opacity: 1;
    transform: translateX(500px) translateY(-200px) rotate(0);
  }

  14% {
    transform: translateX(90vw) translateY(400px) rotate(0);
  }

  42% {
    transform: translateX(50vw) translateY(90vh) rotate(0);
  }

  56% {
    transform: translateX(90vw) translateY(0) rotate(0);
  }

  70% {
    transform: translateX(35vw) translateY(90vh) rotate(0);
  }

  84% {
    transform: translateX(62vw) translateY(90vh) rotate(-0);
  }

  100% {
    opacity: 1;
    transform: translateX(50px) translateY(90vh) rotate(0);
  }
}
@keyframes scatter-9 {
  0% {
    opacity: 1;
    transform: translateX(90vw)translateY(40vh)
  }

  14% {
    transform: translateX(8vw)translateY(0vh)
  }

  28% {
    transform: translateX(0vw)translateY(1vh)
  }

  42% {
    transform: translateX(1vw)translateY(2vh)
  }

  56% {
    transform: translateX(16vw)translateY(2vh)
  }

  70% {
    transform: translateX(3vw)translateY(8vh)
  }

  84% {
    transform: translateX(6vw)translateY(35vh)
  }

  100% {
    opacity: 1;
    transform: translateX(16vw)translateY(0vh)
  }
}
@keyframes scatter-10 {
  0% {
    opacity: 1;
    transform: translateX(2vw)translateY(80vh)
  }

  14% {
    transform: translateX(8vw)translateY(0vh)
  }

  28% {
    transform: translateX(0vw)translateY(1vh)
  }

  42% {
    transform: translateX(1vw)translateY(2vh)
  }

  56% {
    transform: translateX(16vw)translateY(2vh)
  }

  70% {
    transform: translateX(3vw)translateY(8vh)
  }

  84% {
    transform: translateX(6vw)translateY(35vh)
  }

  100% {
    opacity: 1;
    transform: translateX(16vw)translateY(0vh)
  }
}
@keyframes scatter-11 {
  0% {
      opacity: 1;
      transform: translateX(50vw)translateY(-50vh)
  }

  14% {
      transform: translateX(-10vw)translateY(110vh)
  }

  28% {
      transform: translateX(-15vw)translateY(-50vh)
  }

  42% {
      transform: translateX(10vw)translateY(110vh)
  }

  56% {
      transform: translateX(90vw)translateY(-10vh)
  }

  70% {
      transform: translateX(-50vw)translateY(0vh)
  }

  84% {
      transform: translateX(70vw)translateY(110vh)
  }

  100% {
      opacity: 1;
      transform: translateX(50vw)translateY(-50vh)
  }
}
@keyframes scatter-12 {
  0% {
      opacity: 1;
      transform: translateX(-10vw)translateY(-50vh)
  }

  14% {
      transform: translateX(10vw)translateY(110vh)
  }

  28% {
      transform: translateX(18vw)translateY(-50vh)
  }

  42% {
      transform: translateX(90vw)translateY(20vh)
  }

  56% {
      transform: translateX(44vw)translateY(110vh)
  }

  70% {
      transform: translateX(0vw)translateY(-50vh)
  }

  84% {
      transform: translateX(-5vw)translateY(110vh)
  }

  100% {
      opacity: 1;
      transform: translateX(-10vw)translateY(-50vh)
  }
}
.hover_jacket_reveal:hover {
  background-image: url("src/img/entire-studios-moto-jacket-surface-wave-shadow.png");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal2:hover {
  background-image: url("src/img/download (80).png");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal3:hover {
  background-image: url("src/img/entire-studios-dem-jeans-surface-wave-shadow.jpg");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal4:hover {
  background-image: url("src/img/entire-studios-moto-jacket-surface-wave-shadow.png");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal5:hover {
  background-image: url("src/img/entire-studios-moto-jacket-surface-wave-shadow.png");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal6:hover {
  background-image: url("src/img/entire-studios-heavy-denim-cargo-surface-wave-shadow.jpg");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal7:hover {
  background-image: url("src/img/entire-studios-heavy-denim-cargo-surface-wave-shadow.jpg");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal8:hover {
  background-image: url("src/img/entire-studios-v-22-bomber-swamp-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal9:hover {
  background-image: url("src/img/entire-studios-v-22-bomber-swamp-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal10:hover {
  background-image: url("src/img/entire-studios-micro-denim-jacket-surface-wave-shadow.jpg");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal11:hover {
  background-image: url("src/img/entire-studios-xb-70-bomber-swamp-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal12:hover {
  background-image: url("src/img/entire-studios-xb-70-bomber-swamp-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal13:hover {
  background-image: url("src/img/entire-studios-gem-jeans-surface-wave-shadow.jpg");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal14:hover {
  background-image: url("src/img/entire-studios-denim-tube-dress-surface-denim-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal15:hover {
  background-image: url("src/img/entire-studios-a-2-bomber-tin-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal16:hover {
  background-image: url("src/img/entire-studios-lap-tube-top-shadow-resized-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal17:hover {
  background-image: url("src/img/entire-studios-bound-top-core-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal18:hover {
  background-image: url("src/img/entire-studios-freight-cargo-fossil-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal19:hover {
  background-image: url("src/img/entire-studios-freight-cargo-fossil-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal20:hover {
  background-image: url("src/img/entire-studios-freight-cargo-rock-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal21:hover {
  background-image: url("src/img/entire-studios-freight-cargo-rock-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal22:hover {
  background-image: url("src/img/entire-studios-high-rise-pm-pant-charcoal-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal23:hover {
  background-image: url("src/img/entire-studios-freight-cargo-indium-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal24:hover {
  background-image: url("src/img/entire-studios-high-rise-pm-pant-charcoal-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hover_jacket_reveal25:hover {
  background-image: url("src/img/entire-studios-freight-cargo-indium-shadow.webp");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.hide:hover {
  opacity: 0;
}

.item-section-items {
  width: 60%;
    margin: 0 auto;
}

.cart-header {
  width: 124%;
    display: flex;
    justify-content: space-between;
}

.cart-images {
  width: 10% !important;
}

.cart-products {
  width: 20% !important;
}

.cart-price {
  width: 20%;
}

.cart-quantity {
  width: 20%;
}

.cart-total {
  width: 20%;
}

.cart-inner-text {
  width: 100%;
  margin-bottom: 80px;
}
.cart-inner{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 20px;
  align-items: center;
  padding: 10px 0;
}
.cart-mobile-img{
  display: none;
}
.cart-prod-img{
  width: 25%;
  position: relative;
  left: 66%;
  cursor: pointer;
}
.cart-inner-container{
  display: flex;
    align-items: center;
    width: 100%;
}
.ii-cart-inner-section{
  width: 20%;
  padding-right: 25px;
}
.cart-inner-img img{
  width: 100%;
    padding-right: 15px;
}
.ii-cart-inner-section{
  width: 20%;
    padding-right: 25px;
}
.cart-p{
  color: #000;
    text-transform: uppercase;
}
.ii-cart-detail{
  text-transform: uppercase;
}
.visually-hidden{
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.ii-cart-currency{
  text-transform: uppercase;
  transform: translateY(-50px);
  transition: transform .5s;
}
.ii-cart-subtotal__title{
  transform: translateY(-50px);
  transition: transform .5s;
}
.sunttlamount{
  transform: translateY(-50px);
  transition: transform .5s;
}
.parent-cart-all{
  margin: 0 auto;
  width: 80%;
  margin-top: 70px;
  color: #000;
}
.ii-cart-footer {
  width: 65%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
  font-size: 13px;
}
.ii-cart-subtotal{
  margin-bottom: 20px;
}
.all-items-of-cart{
  margin-bottom: 20%;
  font-size: 13px;
}
.chekcout-cart-btn{
  position: relative;
  left: 19%;
  top: 158px;
  width: 13%;
  padding: 17px;
  background-color: transparent;
  border: none !important;
}
.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  top: 20%;
}

.swiper-slide img {
  display: block;
  width: 80%;
}
.prices {
  display: flex;
  position: absolute;
  gap: 87px;
  left: 117px;
  top: 348px;
  opacity: 1;
}
span.price {
  position: absolute;
  top: 343px;
  left: 60px;
  opacity: 0;
}
.imggg:hover span.price{
  opacity: 1;
}
span.price_sec2 {
  position: absolute;
  top: 420px;
  left: 60px;
  opacity: 0;
}
.imggg:hover span.price_sec2{
  opacity: 1;
}
.ii-styled-with-title {
  position: absolute;
  top: 515px;
  left: 104px;
}
.product-vars.product-vars-styled-with {
  top: -323px;
}
.item-selected{
  animation: floating 2s ease infinite;
}
@keyframes floating {
  0% {
      transform: translateY(0px)rotate(0deg)
  }

  45% {
      transform: translateY(-8px)rotate(0deg)
  }

  100% {
      transform: translateY(0px)rotate(0deg)
  }
}
.marquee .marquee__wrapper .hsimg{
  position: relative;
  z-index: -1;
}
button.active { background-color: white; }
.scbg {
  position: relative;
  z-index: 999;
}
/* .scbg #myDropdown-size {
  top: -342px;
  color: #000;
  pointer-events: none;
  position: absolute;
  left: -70px;
} */
.textforgsap{
  border-right: 5px solid;
  height: 18px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 10s, cursor .4s step-end infinite alternate;
}
.textforgsaptwo{
  border-right: 5px solid;
  height: 18px;
  width: 42%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 10s, cursor .4s step-end infinite alternate;
}
@keyframes cursor{
  50%{
    border-color: transparent;
  }
}
@keyframes  typing{
  from{width: 0;}
}
.blackdenimdropdownsize{
  top: -1302px;
  color: #000;
  pointer-events: none;
  position: absolute;
  left: -70px;
}